{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        {% if user.is_authenticated %}
        <h1 class="display-1 text-center"> Welcome {{ user.username }} </h1>
        <p class="text-center">You are logged in. Explore your dashboard or manage your projects.</p>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="{% url 'create_task' %}">
                Create Task
            </a>
        </div>

        {% else %}
        <h1 class="display-1 text-center"> Welcome to Django App </h1>
        <p class="text-center"> You are not logged in. To Explore your dashboard or manage your projects please, create a count or sing in your created count. </p>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="{% url 'singin' %}">
                Singin
            </a>
            <a class="btn btn-dark" href="{% url 'singup' %}">
                Singup
            </a>
        </div>
        {% endif %}
    
    </section>
</main>

{% endblock %}